/************ GENERAL STYLING *************/

/* entire document */
html {
    scroll-behavior: smooth;
}

/* Body */
body {
    margin: 0%;
    opacity: 1; /*page loading fade in effect */
    transition: 3s opacity; /* 3second fade-in */
    letter-spacing: 0.2vw; 
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw; 
    overflow-x: hidden; /* prevents the horizontal scroll bar from appearing when hovering over quote */
    user-select: none; /* prevents user from highlightng text */
}

/* part of fade-in effect when page is loaded */
body.fade-out {
    opacity: 0.1;
}

/* H1 elements */
h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 3%;
    color: #1a1a1a;
}

/* h1 hover effect */
h1:hover {
    filter: grayscale(5%);
    transform: scale(1.01);
    transition: tranform 1s;
}

/* portfolio title text */
.white-text {
    color: #f8f9fa;
    padding-top: 10vh; /* padding-top = 10% of viewport height */
}

/* Paragraph elements */
p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify;
    letter-spacing: 0.1vw;
    font-size: 2.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

p:hover {
    transition: tranform 1s;
    transform: scale(1.01);
}

/* center class */
.center {
    text-align: center;
}

.center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/* Anchor elements */
.links {
    color: #3F37C9;
    cursor: pointer;
    text-decoration: none;
}

.links:hover {
    color: #3A0CA3;
    font-weight: bold;
}

/* Quotation elements */
q {
    font-style: italic;
}

/* Image elements */
img {
    filter:grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto auto auto auto; /* center all images */
}
    
img:hover {
    filter: grayscale(5%);
}

/* Styling for footer element */
footer {
    padding: 2%;
    background-color: #f8f9fa;
}

.footer-icon {
    background-color:  #22577A;
    color: #f8f9fa;
    padding: 4px;
    border-radius: 8px;
}

/************** END OF GENERAL STYLING *******************/

/************** NAVBAR STYLING *******************/
.navbar {
    overflow: hidden;
    background-color: #22577A;
    position: fixed; /* keep navbar at top of screen */
    top: 0;
    width: 100%;
    z-index: 1; /* keep navbar displayed above other elements */
    -webkit-animation: moveNav 5s; /* for Safari 4.0-8.0 */
    animation: moveNav 5s; /* for all other browsers */
}

/* moveNav animation effect, navbar moves in from the left */
@keyframes moveNav {
    from {left: -100vw;} /* navbar is starts off screen to the left */
    to {left: 0vw;} /*moves the navbar into place on the screen */
}

/* navbar links */
.navbar a {
    float: left;
    display: block; /* keeps text on same line */
    color: #f8f9fa;
    padding: 0.75vw 1vw;
    text-decoration: none; /* removes underline */
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    text-align: center;
    position: relative; 
    -webkit-animation: moveNavText 5.7s; /* animation for Safari 4.0 - 8.0 */
    animation: moveNavText 5.7s; /* for all other browsers */
}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNavText {
    from {top: -100vw;} /* this sets the navbar text 100% above the viewport */
    to {top: 0vw;} /* this lowers the navbar text onto the navbar */
}

/* navbar hover effects */
.navbar a:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in; /* creates smooth transition for hover trigger */
}

/* navbar home button */
.navbar a.active {
    background-color: #adb5bd;
}
/************** END OF NAVBAR STYLING *******************/

/************** VIDEO STYLING *******************/
/* Formatting for background video */
#Forest_Video {
    position: fixed;
    right:0;
    bottom: 0;
    min-width: 100%;
    z-index: -1; /* keep behind other elements */
}

/* Screens 576px and smaller will not display background video */
@media screen and (max-width: 576px) {
    #Forest_Video {
        display: none;
    }
}

/* Text overlay over video */
.video-text {
    background-color: rgba(0,0,0,0.5); /* semi-transparent background */
    color: #f8f9fa;
    width: 100%;
    height: 100vh; /* fills the height of the viewport so slideshow is not partially displayed */
    padding-top: 2vh;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

/* This animation effect causes the overlay video text to move up from the bottom of the page upon page load*/
@keyframes moveVideoText {
    from {top: -100vw;} /*sets the position of video text above the viewport */
    to {top: 0vw;} /* moves the video text to the normal positioning of the viewport */
    
}
/************** END OF VIDEO STYLING *******************/

/************** Slideshow Styling **********************/
#SlideshowBackground {
    background: rgba(255,255,255, 0.35); /* slightly transparent white background over video */
}

.mySlides {
    display: none; /* prevents images from being displayed by default */
}

/* slideshow section, container */
#SlideshowContainer {
    width: 39.5vw; /* 39.5% of viewport width */
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

/* remove underline from previous/next buttons */
#SlideshowContainer a {
    text-decoration: none;
}

/* images contained within the slideshow */
.slideshowImages {
    vertical-align: middle; /* center image vertically w/in slideshow container */
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0,0,0,0.75);
    width: 100%; /* width of images automatically adjusted based on content */
}

/* next and previous buttons */
.previous, 
.next {
    cursor: pointer;
    position: absolute; /*position relative to slideshow container*/
    top: 50%;
    width: auto;
    padding: 2vw; /* 2% of viewport width */
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0; /* adds slightly rounded border to the top and bottom right corners */
    user-select: none; /* user cannot highlight text */
    transition: 0.6s ease; /* details of hover transition */
}

/* positioning the next button on the right side of the slideshow */
.next {
    right: 0;
    border-radius: 3px 0 0 3px; /* top and bottom left */
}

/* hover effect on slide show buttons */
.previous:hover,
.next:hover {
    background-color: rgba(0,0,0,0.8);
    color: #f8f9fa;
}

/* slideshow text */
.text {
    color: #f8f9fa;
    padding: 1vw;
    position: absolute; /*ensures text is positioned within image */
    bottom: 0; /* sets the text at the bottom of the image */
    width: 100%;
    text-align: center;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: 0.1vw;
    font-size: 1.5vw;
    background-color: rgba(0,0,0,0.75);
    font-weight: bold;
    border-radius: 0px 0px 7px 7px; /* bottom left and right corners */
}

/* styling of the dots under the slideshow */
.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: 0.25vw; /* increase spacing between dots */
    background-color: #f8f9fa;
    border-radius: 50%; /* makes dots round */
    display: inline-block; /* keeps dots on the same line */
    /*dots transition to diff color when clicked or hovered over*/
    transition: background-color 0.6s ease; /* defined below */
    z-index: 1; /* keep above other elements */
}

/* hover effect for slideshow dots */
.active,
.dot:hover {
    background-color: black;
}

/* fading animation for slideshow */
.fade {
    animation-name: fade; /* fade animation is defined below */
    animation-duration: 1.5s;
    -webkit-animation-name: fade; /* for Safari 4.0-8.0 */
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: 0.4;} /* starts transparent */
    to {opacity: 1;} /* ends opaque */
}

@keyframes fade {
    from {opacity: 0.4;} /* starts transparent */
    to {opacity: 1;} /* ends opaque */
}
/*************** End Slideshow Styling **********************/

/************** TABLE STYLING - columns and rows within the table *******************/
* {
    box-sizing: border-box; /* creates box with border where most of the text will go */
}

.column1 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 510px;
    background-color: #E8E8E8;
    overflow: auto; /* insert scrollbar to prevent text overflow */
}

.column2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 510px;
    background-color: #5588A3;
    overflow: auto; /* insert scrollbar to prevent text overflow */
}

/* Inserts something after the row content */
.row::after {
    content: ""; /* keeps footer below column */
    display: table; 
    clear: both; /* clears any other elements from floating on the left or right of an element */
}

/********************** SCROLLBAR settings if text overflows y-axis in column text ****************/
/* scrollbar width */
.column1::-webkit-scrollbar, 
.column2::-webkit-scrollbar {
    width: 15px;
}

/* scrollbar track */
.column1::-webkit-scrollbar-track,
.column2::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f8f9fa;
    border-radius: 8px;
}

/* scrollbar handle */
.column1::-webkit-scrollbar-thumb,
.column2::-webkit-scrollbar-thumb {
    background-color: #5588A3;
    border-radius: 8px;
}

/* scrollbar handle on hover */
.column1::-webkit-scrollbar-thumb:hover,
.column2::-webkit-scrollbar-thumb:hover {
    background-color: #22577A;
}

/************** END OF TABLE STYLING *******************/

/************** CONTACT FORM STYLING *******************/

/* button used to open contact form, fixed at bottom of page*/
.popUpButton {
    position: fixed; /*positioned relative to viewport, stays in same location no matter what*/
    bottom: 1.75vw; /* positioned slightly up from bottom of viewport */
    right: 1.75vw; /* positioned slightly right from the side of the viewport */
    width: 25vw; /* sets the width relative to the viewport width, 25% */
    background-color: #22577A;
    color: #f8f9fa;
    border: solid black;
    cursor: pointer;
    -webkit-animation: movePopup 5s; /* animation for 5s for Safari 4.0-8.0 */
    animation: movePopup 5s;
}

/* movePopup animation moves the button from off the right side of the screen
    to its fixed location on the viewport */
@keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

/* styling for the contact form */
.form-popup {
    z-index: 8; /* keeps form above other elements on page */
    display: none; /* set display to none, use JS to show form */
    position: fixed; /* keep form in same location no matter what */
    bottom: 0.5vw; /* slightly up from the bottom of the viewport */
    right: 0.5vw; /* slightly in from the right side of the viewport */
}

/* form styling */
.form-container {
    max-width: 49vw; /* keep form container @ 49% of viewport width */
    padding: 1vw;
    background-color: #f8f9fa;
}

/* input fields */
.form-container input[type=text] {
    width: 100%;
    padding: 0.93vw; /* padding for input boxes */
    margin: 0.6vw 0 0.6vw 0; /* adds space between input boxes/labels */
    border: none; /* removes border from input boxes */
    background: #adb5bd;
    font-size: 1vw;
}

/* general styling for all buttons */
button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: 0.3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

/* hover effect for contact and submit buttons */
button:hover,
.form-container .btn:hover {
    color: #22577A;
    background-color: #f8f9fa;
    transition-duration: 1s;
    -webkit-transition-duration: 1s; /* Safari 4.0-8.0 */
    border: 2pt solid #22577A;
}

/* submit button */
.form-container .btn {
    background-color: #22577A;
    color: #f8f9fa;
    border-color: black;
    margin-bottom: 1vh; /* adds space between the submit and the close button */
}

/* close button */
.form-container .cancel {
    background-color: black;
    color: #f8f9fa;
    border-color: gray;
}

/* styling for close button on hover */
.form-container .cancel:hover {
    color: #f8f9fa;
    background-color: #adb5bd;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}

/*************** End of Contact Form Styling ***************/

/**************** Media Query Section ************************/

/* media rules for paragraph font size for different screen sizes */
@media screen and (max-width: 527px) {
    p {
        font-size: 3.0vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 2.9vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.3vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.13vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 1.9vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 1.7vw;
    }
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.6vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.4vw;
    }
}
@media screen and (min-width: 2270px) {
    p {
        font-size: 1.35vw;
    }
}

/* Media rule for navbar links for different screen sizes */
/* screens 1089px and smaller will display navbar links equally distributed */
@media screen and (max-width: 1080px) {
    .navbar a {
        width: 20%;
        font-size: 2.5vw;
    }
}

/* media rules to enlarge the font of the whit text for smaller screens */
@media screen and (max-width: 1080px) {
    .quote {
        font-size: 3.5vw;
    }

    .white-text {
        font-size: 4.5vw;
    }
}

/* media rules to increase the size of the columns for larger screens */
@media screen and (min-width: 1725px) {
    .column1 {
        height: 660px;
    }

    .column2 {
        height: 660px;
    }
}

/* media rule to remove margin-top from h1 elements for extra large screens
    so paragraph text fits in columns */
@media screen and (min-width: 2000px) {
    h1 {
        margin-top: 0;
    }
}

/***************************  end Media Query Section *****************************/
